#bg{
    background: linear-gradient(0deg, rgba(152,255,160,1) 0%, rgba(5,34,52,0.9977124638918067) 100%);
    min-height: 100%
}
#mh{
    padding: 5fr;
    margin: 1px auto;
    background: radial-gradient(circle, rgba(116,142,255,1) 17%, rgba(53,64,176,1) 17%); 
    border-radius: 50%;
    font-family: 'Major Mono Display', monospace;
    color: yellow;
    text-align: center;
}