.text{
    font-family: 'Major Mono Display', monospace;
    color: #3b3b4e;
    text-align: center;
    font-family: 'Nova Mono', monospace;
    
}



  img{
      width: 500px;
  }
  /* bottom */ 
  .up{
      position: fixed;
      width: 50px;
      height: 50px;
      right: 57px;
      bottom: 10px;
  } 

  /* nav */

  header{
     
    overflow: hidden;
}
 
#top-header{
         
    text-align: center;
    height: 105px;
    background-color: rgb(255, 255, 255);
}

  #logo{
    float: left;
    padding: none;
    margin: none;
    height: 10%;
    width: 10%;
    margin-left: 0.5em;
}
 
#logo img{
    width: 60%;
    float: left;
    padding: 10px 0px;
    
}   

#menu{
    float: right;
    margin-right: 1em;
    width: 70%;
    height: 100%;
    margin: none;
    
}
     
#menu ul{
    text-align: center;
    float:center;
    margin: none;
    background: #a6bccf;
    
}
     
#menu li{
    display: inline-block;
    padding: none;
    margin: none;
}
     
#menu li a, #menu li span{
    display: inline-block;
    padding: 0em 1.5em;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 60px;
}
     
#menu li a{
         
    color: #FFF;
}
     
#menu li:hover a, #menu li span{
    background: #FFF;
    color: #a1a1a1;
    border-left: 1px solid #a1a1a1;
    text-decoration: none;
}

/* welcome */

.imageContainer {
    width: 100%;
    height: 600px;
    background-image: url(https://cdn.wallpapersafari.com/33/74/SXz0qL.jpg);
    image-rendering:pixelated;
    background-size:100% 600px;
    text-align: center;
    font-size: 16px;
    margin-bottom: 10px;
   
    
}
#inbetween{
    padding-top: 25px;
    padding-bottom: 25px;
    position: sticky;
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: white;
    width: 100%;
    height: 25%;
    text-align: center;
    
}
.imageContainertwo {
    width: 100%;
    height: 600px;
    background-image: url(https://cdn.wallpapersafari.com/33/74/SXz0qL.jpg);
    transform: rotate(20deg);
    text-align: center;
    image-rendering:pixelated;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: justify;
    background-size: 100% 600px;
}

.gridcont{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    background-color: #f0f0f0;
    padding: 10px;
    height:2500px;
    
}

.gridcont > a {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    height: 75%;
    width: 75%;
    background-image: url("https://randomwordgenerator.com/img/picture-generator/55e6dd474351a914f1dc8460962e33791c3ad6e04e507440762879dc9349c6_640.jpg");
  }

  .gridit:hover{
      opacity: 50%;
  }

 #picc{
     width:100px;
     height: 200px;
 }

 /* 3d animation*/

  /* https://www.youtube.com/watch?v=NdftnCDwKaU&list=PLKcDjNb_OGwMmRul5T03xG68DS8C4MeZ3&index=3 */
 :root{
    --boxColor: #0ff7;
    --rotateSpeed: 30s;
    --bounceSpeed: 1.5s;
}

 .bg{
     background-color: #000;
     min-height: 6.5em;
     display:flex;
     margin: 1em;
     justify-content: center;
     align-items: center;
     font-size: 75px;
     perspective: 10em;
     perspective-origin:50% calc(50% - 2.5em) ;
 }

 .scene{
     position: relative;
     transform-style:preserve-3d ;
     animation: sceneRotate var(--rotateSpeed) infinite linear;
     margin-left: 1em;
    margin-right: 1em;
    
    
 }

 @keyframes sceneRotate{
     to{transform:rotateY(360deg) ;}
 }

 .ball{
     width:1em;
     height:1em;
     border-radius: 50%;
     background:lightblue;
     position: fixed;
     left: -.5em;
     bottom:1em;
     background-image: radial-gradient(
         circle at top,
         lightblue,
         #000
     );
     animation:
        ballBounce var(--bounceSpeed) infinite ease-out,
     sceneRotate var(--rotateSpeed) infinite linear reverse;
 }

 @keyframes ballBounce{
     0%, 100% {bottom:0.5em;}
     50% {bottom:2.5em; animation-timing-function: ease-in;}
 }



 .Cube{
     width: 2em;
     height: 2em;
    

     position: absolute;
     bottom:-1em;
     left:-1em;
     animation:  cubeHeight var(--bounceSpeed) infinite linear;
 }

 @keyframes cubeHeight{
    0%, 100% {height: 1.5em;}
    8%, 93.5% {height: 2em;}
}

 .left, .right, .front, .back{
    position: absolute;
    width:100%;
    height:100%;
    background: var(--boxColor);
    box-shadow:0 0 0.5em #000a inset ;
}
.front{transform:translateZ(1em);}
.right{transform:rotateY(90deg) translateZ(1em);}
.back{transform:rotateY(180deg) translateZ(1em);}
.left{transform:rotateY(270deg) translateZ(1em);}
 
.top{
    position: absolute;
    width:2em;
    height:2em;
    background: var(--boxColor);
    transform: translateY(-50%) rotateX(90deg);
    box-shadow:0 0 0.5em #000a inset ;
}

.bottom{
    position: absolute;
    width:2em;
    height:2em;
    background: #0007;
    bottom:0;
    transform: translateY(50%) rotateX(90deg);
    box-shadow:0 0 0.5em #000a;
}

.floor{
     width: 10em;
     height: 10em;
     background-image:
     radial-gradient(#0000, #000 75%),
      repeating-conic-gradient(from 45deg, #111 0deg 90deg,#222 90deg 180deg);
     background-size:100%, 1em 1em;
    position: absolute;
    transform:translate(-50%,-50%)
    rotateX(90deg);
    top:1em;
    

 }
 
 #backg{
     background-color: black;
 } 
 /*end of animation*/

 #scirpt{
     font-size: 11px;
     color: #ffffff;
     text-align: center;
     columns: 1;
 }

 /* item 5 + othrs */
 
#row1{
   background-color: rgb(146, 168, 196);
   padding: 1em;
   margin-left: 43%;
   margin-right: 43%;
   margin-bottom: 1em;
   border-radius: 10px;
   
}
#row2{
    background-color: rgb(146, 168, 196);
    padding: 1em;
    margin-left: 43%;
    margin-right: 43%;
    margin-bottom: 1em;
    border-radius: 10px;
    
 }

 #row3{
    background-color: rgb(146, 168, 196);
    padding: 1em;
    margin-left: 43%;
    margin-right: 43%;
    margin-bottom: 1em;
    border-radius: 10px;
    
 }

#ground{
    background-color: #00001a;
}
 
.aContainer{
    background-color: whitesmoke;
   margin-left: 10%;
   margin-right: 10%;
   border-radius: 15px;
   padding-bottom: .25em; 
   padding-top: 1em;
   margin-top: 1em;
}

button{
    background-color: orange;
}

.bContainer{
    background-color: whitesmoke;
   margin-left: 10%;
   margin-right: 10%;
   border-radius: 15px;
   padding-bottom: .25em; 
   padding-top: 1em;
   margin-top: 1em;
}

.marg{
    margin-top: 1em;
}