.text{
    font-family: 'Major Mono Display', monospace;
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: 'Nova Mono', monospace;
}

#bux{
    position:fixed;
    top:0%;
    width:100%;
    height: 80px;
    background-color: azure;
    text-align: center;
}
main{
    margin-top: relative;
    width: 100%
}