.text{
    font-family: 'Major Mono Display', monospace;
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: 'Nova Mono', monospace;
}

#bux{
    position:fixed;
    top:0px;
    width:100%;
    height: 80px;
    background-color: azure;
    text-align: center;
    margin-bottom: 10px;
}
main{
    margin-top: 10%;
    width: 100%;
    background-color:cornflowerblue;
    padding: 5px;
}