.text{
    font-family: 'Major Mono Display', monospace;
    color: #3b3b4e;
    text-align: center;
    font-family: 'Nova Mono', monospace;
    
}
/*top box*/
#bux{
    position:fixed;
    top:0px;
    width:99%;
    
    background-color:  #fee3f8;
    text-align: center;
    padding-bottom: 10px;
    
}
/*middle box*/
main{
    margin-top: 125px;
    width: 70%;
    background-color:white;
    padding: 5px;
    left:0px;
    margin-left: 15% ;
    margin-right: 15%;
    border-radius: 10px;
    border:solid #fb6692;
    border-right-width: 50px;
    border-bottom-width: 25px;
    
}
.wel{
    width: 70%;
    margin-left: 15% ;
    margin-right: 15%;
}
/*bg*/
body{
    background-color: #FDB1ED;
}
.textleft{
    text-align: left;
}

.header{
    color:#fb66dc;
}
pre{
    text-align: left;
}
p{
    columns: 35px 2;
}
