.text{
    font-family: 'Major Mono Display', monospace;
    color: #3b3b4e;
    text-align: center;
    font-family: 'Nova Mono', monospace;
    
}

.textleft{
    text-align: left;
}

.header{
    color:#7d29c6;
    margin:1%;
}
pre{
    text-align: left;
}
p{
    columns: 35px 2;
}

.flex{
    display: flex;
  background-color: #4f176c;
  flex-direction: column-reverse;
}
.flex > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }
  @media screen and (max-width:600px){.flex > div{
    
    padding: 10px;
    font-size: 10px;
  }
      
  }

  img{
      width: 500px;
  }
  /* bottom */ 
  .up{
      position: fixed;
      width: 50px;
      height: 50px;
      right: 57px;
      bottom: 10px;
  } 

  header{
     
    overflow: hidden;
}
 
#top-header{
         
    text-align: center;
    height: 105px;
    background-color: rgb(255, 255, 255);
}

  #logo{
    float: left;
    padding: none;
    margin: none;
    height: 10%;
    width: 10%;
}
 
#logo img{
    width: 60%;
    float: left;
    padding: 10px 0px;
}   

#menu{
    float: right;
    margin-right: 1em;
    width: 70%;
    height: 100%;
    margin: none;
    
}
     
#menu ul{
    text-align: center;
    float:center;
    margin: none;
    background: #ff8a3c;
    
}
     
#menu li{
    display: inline-block;
    padding: none;
    margin: none;
}
     
#menu li a, #menu li span{
    display: inline-block;
    padding: 0em 1.5em;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 60px;
}
     
#menu li a{
         
    color: #FFF;
}
     
#menu li:hover a, #menu li span{
    background: #FFF;
    color: #a1a1a1;
    border-left: 1px solid #a1a1a1;
    text-decoration: none;
}



.imageContainer {
    width: 100%;
    height: 600px;
    background-image: url(https://randomwordgenerator.com/img/picture-generator/53e2d3454252a914f1dc8460962e33791c3ad6e04e50744074267bd59e44cd_640.jpg);
    image-rendering:pixelated;
    background-size:100% 600px;
    text-align: center;
    font-size: 16px;
    margin-bottom: 10px;
   
    
}
#inbetween{
    padding-top: 25px;
    padding-bottom: 25px;
    position: sticky;
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: white;
    width: 100%;
    height: 25%;
    text-align: center;
    
}
.imageContainertwo {
    width: 100%;
    height: 600px;
    background-image: url(https://randomwordgenerator.com/img/picture-generator/57e2d6414c51af14f1dc8460962e33791c3ad6e04e507441722978d6934cc3_640.jpg);
    text-align: center;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: justify;
    background-size: 100% 600px;
}

.gridcont{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    background-color: #f0f0f0;
    padding: 10px;
    height:2500px;
    
}

.gridcont > a {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    height: 75%;
    width: 75%;
    background-image: url("https://randomwordgenerator.com/img/picture-generator/55e7dc434957a814f1dc8460962e33791c3ad6e04e507440742a7ad6964bc1_640.jpg");
  }

  .gridit:hover{
      opacity: 50%;
  }





 #picc{
     width:100px;
     height: 200px;
 }

  /* https://www.youtube.com/watch?v=NdftnCDwKaU&list=PLKcDjNb_OGwMmRul5T03xG68DS8C4MeZ3&index=3 */
 :root{
    --boxColor: #0ff7;
    --rotateSpeed: 30s;
    --bounceSpeed: 1.5s;
}

 .bg{
     background-color: #000;
     min-height: 6.5em;
     display:flex;
     margin: 1em;
     justify-content: center;
     align-items: center;
     font-size: 75px;
     perspective: 10em;
     perspective-origin:50% calc(50% - 2.5em) ;
 }

 .scene{
     position: relative;
     transform-style:preserve-3d ;
     animation: sceneRotate var(--rotateSpeed) infinite linear;
     margin-left: 1em;
    margin-right: 1em;
    
    
 }

 @keyframes sceneRotate{
     to{transform:rotateY(360deg) ;}
 }

 .ball{
     width:1em;
     height:1em;
     border-radius: 50%;
     background:lightblue;
     position: fixed;
     left: -.5em;
     bottom:1em;
     background-image: radial-gradient(
         circle at top,
         lightblue,
         #000
     );
     animation:
        ballBounce var(--bounceSpeed) infinite ease-out,
     sceneRotate var(--rotateSpeed) infinite linear reverse;
 }

 @keyframes ballBounce{
     0%, 100% {bottom:0.5em;}
     50% {bottom:2.5em; animation-timing-function: ease-in;}
 }



 .Cube{
     width: 2em;
     height: 2em;
    

     position: absolute;
     bottom:-1em;
     left:-1em;
     animation:  cubeHeight var(--bounceSpeed) infinite linear;
 }

 @keyframes cubeHeight{
    0%, 100% {height: 1.5em;}
    8%, 93.5% {height: 2em;}
}

 .left, .right, .front, .back{
    position: absolute;
    width:100%;
    height:100%;
    background: var(--boxColor);
    box-shadow:0 0 0.5em #000a inset ;
}
.front{transform:translateZ(1em);}
.right{transform:rotateY(90deg) translateZ(1em);}
.back{transform:rotateY(180deg) translateZ(1em);}
.left{transform:rotateY(270deg) translateZ(1em);}
 
.top{
    position: absolute;
    width:2em;
    height:2em;
    background: var(--boxColor);
    transform: translateY(-50%) rotateX(90deg);
    box-shadow:0 0 0.5em #000a inset ;
}

.bottom{
    position: absolute;
    width:2em;
    height:2em;
    background: #0007;
    bottom:0;
    transform: translateY(50%) rotateX(90deg);
    box-shadow:0 0 0.5em #000a;
}

.floor{
     width: 10em;
     height: 10em;
     background-image:
     radial-gradient(#0000, #000 75%),
      repeating-conic-gradient(from 45deg, #111 0deg 90deg,#222 90deg 180deg);
     background-size:100%, 1em 1em;
    position: absolute;
    transform:translate(-50%,-50%)
    rotateX(90deg);
    top:1em;
    

 }
 
 #backg{
     background-color: black;
 } 
 /*end of animation*/

 #scirpt{
     font-size: 11px;
     color: #3b3b4e;
     text-align: center;
 }

 /* item 5 */
 
/*
    Make sure to only make css changes to elements with your ID,
    or children of elements with your ID
*/ 

#item5 {
    
    color:blue;
    
}
#item5 .circle {
    position: relative;
    border-radius: 50%;
    height: 50px;
    width: 50px;;
    
    background-color: #8a2be2;
    animation-name: anime;
    animation-duration: 10s;
    animation-iteration-count:infinite;
    animation-direction: alternate;
}

#item5 .square{
    position: relative;
    height: 50px;
    width: 50px;;
    
    background-color: #83e22b;
}
#item5 img{
    position: relative;
    margin: auto;
    height: 400px;
    width: 400px;
    
}

#item5 button{
    width: 500px;
    height: 50px;
    position: absolute;
    
}

@keyframes anime {
    0% {
        background: #d9c09c;
      }
      25% {
        background: #ffffff;
      }
      50% {
        background: #f3d1b8;
      }
      75% {
        background: #f39874;
      }
      100% {
        background: #647750;
      }
    }
  
    